*{
    margin: 0;
}

.btn1{
    width:6rem;
    height: 2rem;
    border: none;
    background-color: black;
    color: white;
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0 0 white;
    transition: 0.8s ease-in;
}

.btn1:hover{
    box-shadow: inset 300px 0 0 0 white;
    color: black;
    cursor: pointer;
}


ul{
    display: flex;
}

ul li {
    list-style: none;
    cursor: pointer;
    margin-left: 2rem;
}


li:after{
    content: "";
    display: block;
    width: 0%;
    background-color: burlywood;
    height: 0.2rem;
    transition: 0.5s;
}

li:hover:after{
    width: 50%;
    cursor: pointer;
}

.image{
    width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease-in;
}

.layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    position: absolute;
   opacity: 0;
    transition: 0.5s ease-in;
   left: 0;
   bottom: 0;
   right: 0;
    
}


.container{
    width: 300px;
    overflow: hidden;
    position: relative;
}

.container:hover .layer{
    opacity: 1;
  
}

.container:hover .image{
    transform: scale(1.1) rotate(-5deg);
}